.s-button{
  background-color: #84142D !important;
  border: none !important;
  margin-bottom: .3rem;
  font-size: 1rem !important;
}
input{
    border: solid 1px #1EB2A6;
    width: 20rem;
    height: 2.2rem;
    margin: 3rem 0.1rem !important;
    background: #D1F5D3;
    color: #84142D !important;
    padding: .5rem;
    font-size: 2rem;
    font-weight: bold;
}
.s-button:hover{
  background-color: #1EB2A6 !important;
  border: none !important;
  cursor: pointer;
}